@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: Exo;
}

.cyber-button {
  position: relative;

  border: solid 1px #777;
  background-color: #1a2028;
  filter: brightness(1.25);

  &::before {
    content: '';
    position: absolute;
    background-color: #1a2028dd;

    top: -1px;
    bottom: -1px;
    left: 10px;
    right: 10px;
  }

  &::after {
    content: '';
    position: absolute;
    background-color: #1a2028dd;

    top: 10px;
    bottom: 10px;
    left: -1px;
    right: -1px;
  }

  * {
    position: relative;
    z-index: 1;
  }
}

.cyber-progress {
  &::-webkit-progress-bar {
    @apply bg-primary/20 border-none;
  }
  &::-webkit-progress-value {
    @apply bg-primary;
  }
}
